{
    "presets": [[ "@babel/preset-env",{ "modules": false }]],
    "plugins": [
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk",
          "no-unused-vars": "off"
        }
      ]
    ]
  }